.graph {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex: 1 1 auto;
}

.vl {
  bottom: 0;
  display: inline-block;
  flex-grow: 0;
  background-color: teal;
  margin: 2px;
  transition: height 0.4s linear;
}
