#root {
  --theme-base: #7383ff;
  /* Sidebar */
  --sidebar-background: white;
  --sidebar-text: grey;
  --sidebar-text-active: black;

  /* Sorting Canvas*/
  --graph: #b4b3b3;
  --graph-selected: #5468ff;

  /* Pathfinding Canvas */
  --grid: #b3b3b3;
  --grid-walk: #5e5c5c;
  --node-hover: #efefef;
  --origin: #00943ebb;
  --destination: #ff3b3f;
  --o: #5e5c5c;
  --visited: rgb(28, 185, 223);
  --queued: rgb(253, 253, 186);
  --path: #5468ff;
}

.structure {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.interface {
  margin-left: 260px;
  /* padding: 10px; */
  height: 100vh;
  width: calc(120vw - 260px); /* 120vw to allow grid overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}
