.ui.inverted.menu {
  background: var(--sidebar-background) !important;
  color: var(--sidebar-text) !important;
  box-shadow: 1px 1px 20px 1px grey !important;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: 'Major Mono Display', monospace;
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
}

.header::after {
  content: '';
  background: url('../resources/header-bkg.png');
  background-size: cover;
  transform: scaleX(-1);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}

.control {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  bottom: 2%;
  height: 15%;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 0.5rem;
  font-family: 'Avenir Next';
  font-size: 1rem;
  padding: 0.5rem 3rem;
  margin-bottom: 0.5em;
  color: white;
  border: solid 3px transparent;
  background-origin: border-box;
}

.reset-active {
  opacity: 0.6;
  background: rgb(28, 185, 223);
}

.reset-disabled {
  background: #b4b3b3;
}

.bouncy {
  background-image: -webkit-linear-gradient(left, #7383ff, #5468ff, #7383ff);
}

button:hover .bouncy {
  -webkit-transition: background 0.5s ease-out;
  background-position: 166px;
}

/* Credit to  https://fdossena.com/?p=html5cool/buttons/i.frag */
.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
