.active {
  color: var(--sidebar-text-active);
}

input {
  display: none !important;
}

input + label {
  color: var(--sidebar-text);
}

input:checked + label {
  color: var(--sidebar-text-active) !important;
}

input:hover + label {
  color: var(--sidebar-text-active) !important;
}

.list {
  margin-left: 5% !important;
  display: inline-block;
  width: max-content;
}

.pathfinding-info {
  display: flex;
  flex-flow: column nowrap;
}

.nodes input[type='button'] {
  display: inline-flex !important;
  height: 2em;
  width: 2em;
  border: none;
}

.nodes input[type='button'] + label {
  margin-left: 0.5em;
}

.nodes li {
  display: flex !important;
  align-items: center;
  margin-top: 0.5em;
}

.origin {
  background: var(--origin);
}
.destination {
  background: var(--destination);
}
.obstacle {
  background: var(--o);
}
.visited {
  background: var(--visited);
}
.queued {
  background: var(--queued);
}
