.header {
  color: whitesmoke;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 700;
}

input {
  display: none !important;
}

input + label {
  color: grey !important;
}

input:checked + label {
  color: white !important;
}

input:hover + label {
  color: white !important;
}
