.active {
  color: var(--sidebar-text-active);
}

input {
  display: none !important;
}

input + label {
  color: var(--sidebar-text);
}

input:checked + label {
  color: var(--sidebar-text-active) !important;
}

input:hover + label {
  color: var(--sidebar-text-active) !important;
}

.list {
  margin-left: 5% !important;
  width: 100%;
}

.pathfinding-info {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
}

.nodes li {
  display: flex !important;
  width: 100%;
  margin-top: 0.5em;
  align-items: center;
}

.ui .list .node {
  height: 2em;
  width: 2em;
  border: none;
  margin-right: 5%;
}

.origin {
  background: var(--origin);
}
.destination {
  background: var(--destination);
}
.obstacle {
  background: var(--o);
}
.visited {
  background: var(--visited);
}
.queued {
  background: var(--queued);
}

.setter:hover {
  background-color: #efefef;
}

.setter:hover i {
  transition: 0.2s ease;
  transform: translateX(0.4em);
}

.setter:active {
  background-color: #b1b1b1;
}

.setter-icon {
  margin-left: auto;
}

@keyframes bounce {
  0% {
    transform: translateX(0em);
  }
  40% {
    transform: translateX(0.6em);
  }
  50% {
    transform: translateX(0em);
  }
  60% {
  }
  75% {
    transform: translateX(0em);
  }
  90% {
    transform: translateX(0.2em);
  }
  100% {
    transform: translateX(0em);
  }
}
